Act as an expert radiologist, extract common pathologies from radiology reports.

Here are a few examples:
{% for example in examples %}
##### REPORT:
{{ example.report }}
{% if example.label %}
##### ANSWER:
label: "{{ example.label }}"
#####
{%- else %}
##### ANSWER:
{%- endif %}
{% endfor %}